table {
	font-size: 12px;
	font-family: Arial;
	border-collapse: collapse;
	border: 1px solid #DEDEDE;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.title {
	text-align: center;
	padding: 5px;
	font-weight: bold;
	background: #0066FF;
	color: white;
	border: 1px solid #0066FF;
}

.registerSubmit {
	padding: 5px;
	text-align: center;
	/*background: #0066FF !important;*/
	border: 1px solid #DEDEDE;
	color: white;
}

th,td {
	padding: 2px;
	text-align: left;
}

tr:nth-child(2n+3) {
	background: #FAFAFA;
}

.registerNode {
	padding: 5px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed #e5e5e5;
	width: 990px;
	padding-top: 100px;
	padding-bottom: 80px;
}

.login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/******************/
label {
	float: left;
	width: 200px;
	margin-right: 0.5em;
	margin-top: 3px;
	text-align: right;
	font-weight: bold;
}

.DangSanPham {
	width: 725px;
}

input[type="number"]
{
	width: 50px;
}
select {
	width: 120px;
}

textarea {
	width: 100%;
}

.white {
	background-color: white;
}

.btnDangSanPham {
	background-color: green;
	}