@CHARSET "ISO-8859-1";

.tbox {position:absolute; display:none; z-index:900}
.tinner {/* padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333 */}
.tmask {/* position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800 */}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {
	border:1px solid #F9A541;
	-webkit-box-shadow: 0 10px 6px -6px #AEAEAE;
	-moz-box-shadow: 0 10px 6px -6px #AEAEAE;
	box-shadow: 0 10px 6px -6px #AEAEAE;
	background-color:#F6F6F6;
	
}
td #ct{
	text-align: center;
	
}
td #ct label{
	text-align: center;
	color:blue;
}
#titler{	
	color:white;
	background-color: #F9A541;
	text-align: center;
	padding:4px;
	font-size: 13px;
	font-weight: bold;
}
#noidung {
	margin: 10px;
}
#noidung table{
	font-size: 12px;
	width:200px;
	margin-bottom:5px;
}
table a{
	text-decoration:underline;
}
table a:hover{
	color:blue;
}
#bluemask {background:#4195aa}
#frameless {/* padding:0 */}
#frameless .tclose {left:6px}