/* FONT SIZE */
.font38{ font-size: 38px;}
.font32{ font-size: 32px;}
.font28{ font-size: 28px;}
.font24{ font-size: 24px;}
.font23{ font-size: 23px;}
.font22{ font-size: 22px;}
.font21{ font-size: 21px;}

.font20{ font-size: 20px;}

.font19{ font-size: 19px;}

.font18{ font-size: 18px;}

.font17{font-size: 17px;}

.font16{font-size: 16px;}

.font15{font-size: 15px;}

.font14{font-size: 14px;}

.font13{font-size: 13px;}

.font12{font-size: 12px;}

.font11{font-size: 11px;}